{
  "protocol": "modbus",

  "output": {
    "type": "TCP/IP",
    "ip": "0.0.0.0",
    "port": 5000
  },

  "serial": {
    "baud_rate": 9600,
    "parity": "none",
    "path": "/dev/ttyS1",
    "stop_bits_count": 1
  },

  "slaves": [
    {
      "id": 1,
      "name": "Torque meter",
      "poll_time_ms": 3000,
      "registers": [
        {
          "address": 130,
          "data_type": "U32A",
          "name": "Torque"
        },
        {
          "address": 132,
          "data_type": "U32A",
          "name": "Shaft speed"
        },
        {
          "address": 134,
          "data_type": "F32A",
          "name": "Power"
        }
      ]
    }
  ]
}
