{
  "protocol": "modbus",

  "output": {
    "path": "something"
  },

  "serial": {
    "baud_rate": 9600,
    "parity": false,
    "path": "/dev/ttyS1",
    "stop_bits_count": 1
  },

  "slaves": [
    {
      "id": 1,
      "name": "name",
      "poll_time_ms": 150,
      "registers": [
        {
          "address": 130,
          "data_order": "ABCD",
          "name": "REGISTER_A"
        },
        {
          "address": 134,
          "data_order": "ABCD",
          "name": "REGISTER_B"
        },
        {
          "address": 138,
          "data_order": "ABCD",
          "name": "REGISTER_C"
        },
        {
          "address": 142,
          "data_order": "ABCD",
          "name": "REGISTER_D"
        },
        {
          "address": 146,
          "data_order": "ABCD",
          "name": "REGISTER_E"
        },
        {
          "address": 150,
          "data_order": "ABCD",
          "name": "REGISTER_F"
        }
      ]
    }
  ]
}
