{
  "protocol": "modbus",

  "output": {
    "type": "stdout"
  },

  "serial": {
    "baud_rate": 9600,
    "parity": "none",
    "path": "/dev/ttyS1",
    "stop_bits_count": 1
  },

  "slaves": [
    {
      "id": 1,
      "name": "name",
      "poll_time_ms": 150,
      "registers": [
        {
          "address": 130,
          "data_type": "UINT",
          "data_order": "ABCD",
          "name": "REGISTER_A"
        },
        {
          "address": 132,
          "data_type": "UINT",
          "data_order": "ABCD",
          "name": "REGISTER_B"
        },
        {
          "address": 134,
          "data_type": "INT",
          "data_order": "ABCD",
          "name": "REGISTER_C"
        },
        {
          "address": 136,
          "data_type": "INT",
          "data_order": "ABCD",
          "name": "REGISTER_D"
        }
      ]
    }
  ]
}
