{
    "protocol": "nmea",

    "output": {
        "type": "TCP/IP",
        "ip": "0.0.0.0",
        "port": 5000
    },

    "serial": {
        "baud_rate": 9600,
        "parity": "none",
        "path": "/dev/ttyS1",
        "stop_bits_count": 1
    },

    "checksum": true,
    "talker_id": "SS",

    "sentences": [
        {
            "sentence_id": "SSS",
            "data_fields": [
                {
                    "name": "UTC Time",
                    "data_type": "UINT"
                },
                {
                    "name": "Status",
                    "data_type": "STRING"
                },
                {
                    "name": "Lattitude",
                    "data_type": "INT"
                }
            ]
        },
        {
            "sentence_id": "SSS"
        }
    ]
  }
